body {
    background-color: black;
    margin: 0;
    font-family: Helvetica;
    color : lime;
    line-height: 25px;
    background-image: url(/fire.png); background-size: cover; background-attachment: fixed; 
    animation: fadeIn 2s;
    opacity: 95%;
}

.isi {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.table-isi {
    width: 100%;
}

.judul {
    background-color: green;
    color: lime;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    min-width: 300px;
    text-align: center;
}

hr {
    margin: 0;
    border: solid 1px lime;
}

.profil {
    width: 60%;
}

.profil img {
    width: 200px;
    float: left;
    margin-right: 15px;
}

.table-isi td{
    vertical-align: top;
    padding: 15px;
}

.skill .isiisi {
    background-color: green;
    color: lime;
    padding: 15px;
    border-radius: 5px;
}

.skill ul {
    margin: 0;
    list-style: none;
}

.skill li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px lime;
}

.skill .level {
    background-color: lime;
    color: black;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}

.table {
    margin-top: 15px;
    border-collapse:collapse;
    width: 100%;
    text-align: center;
}

.table th {
    background-color: green;
    padding: 10px 15px;
}

.table td {
    padding: 10px 15px;
    color: black;
}

.table tr:nth-child(even) {
    background-color: lime;
}

.table tr:nth-child(odd) {
    background-color: rgb(0, 204, 0);
}

.hobi .isiisi {
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.hobi img {
    width: 100%;
    height: 200px;
}

.sosmed .isiisi {
    width: 30%;
    float: left;
    padding: 15px;
}

.sosmed img {
    width: 50%;
    margin-left: 120px;
}

footer{
    background-color: black; opacity: 85%;
    padding: 15px 0px;
}

input[type="text"], textarea {
    outline: none;
    padding: 10px 20px;
    background-color: rgb(0, 209, 0);
    font-family: Helvetica;
    border: solid 3px green;
    border-radius: 5px;
    transition: all 0.5s;
}

input[type="text"]:focus, textarea:focus {
    background-color: rgb(0, 209, 0);
    border: solid 3px lime;
    transition: all 0.5s;
}
.form-gabung {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    background-color: rgb(0, 209, 0);
    border-bottom: solid 2px rgb(0, 172, 0);
}

button[type="reset"] {
    background-color: red;
    border-bottom: solid 2px rgb(186, 0, 0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

